<%= form_for( [ @wine, @log_entry ] ) do |f| %>
  <%= render 'shared/validation_errors', object: @review %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br />
  <% f.label :stars %>  
  <% LogEntry::RATING.each do |rating| %>
    <%= f.radio_button :rating, rating %> <%= star %>
  <% end %><br />
  <%= f.label :comment %><br/>
  <%= f.text_area :comment %><br/>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', wine_log_entries_path(@book), id: 'cancel_log_entry' %>
  </p>
<% end %>